@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}
#menu {
    background-color: #1d1717;
    margin: -8px -8px 0 -8px;
}
#menu > ul {
    max-width: 430px;
    background-color: #1d1717;
    padding: 0px;
    list-style: none;
    margin: auto;
}
#menu > ul > li {
    display: inline;
}

#menu > ul > li > a {
    display: inline-block;
    padding: 15px;
    transition: background .6s;
    color: white;
    text-decoration: none;    
}
#menu > ul > li > a:hover{
    background-color: rgb(31, 136, 197);
}

#icon > h2 {
    float: left;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    margin: 0;
}







table {
    background-color: rgb(35, 42, 43);
    color: white;
    margin: 10px;
    border-collapse: collapse;
    border: 2px solid black;
}
th, td {
    border: 1px dotted black;
    padding: 10px;
}
td {
    text-align: center;
}
td:hover {
    background-color: rgb(29, 86, 207);
}
.media:hover {
    background-color: rgb(184, 27, 27);
}