@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('/..fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0px; 
    padding: 0px;
}

:root {
    --cor1: #c5ebd6; 
    --cor2: #83e1ad; 
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c57;
    --cor6: #063d1e;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive; 
}
/* imagens */ 
img {
    width: 100%;
    display: block;
    margin: auto;
}
/* corpo da pagina */ 

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding: 0 10px 0 10px; 
    text-shadow: 2px 2px 0px #050505b8; 
    margin: auto;
    margin-bottom: 20px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px #050505b8; 
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(29, 26, 26, 0.563);
}
nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition: background .6s;
    border-radius: 30px;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}


main {
    background-color: white;
    box-shadow: 0px 0px 10px #29242487;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main  h1 {
    font-family: var(--fonte-android);
    color: var(--cor6);
    font-style: normal;
}
main  h2 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-style: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;

}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor6);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor6);
    margin-bottom: 50px;
    margin: 0 -20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #242121;
}
aside > h3 {
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714 ';
    list-style-position: inside;
    columns: 2;
}



footer {
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    box-shadow: 3px 3px 8px black
}
footer p {
    text-align: center;
    font-size: 90%;
}
footer a {
    color: var(--cor4);
    text-decoration: none;

}
footer a:hover {
    text-decoration: underline;
    color: var(--cor3)
}
