@charset "UTF-8"; 

body {
    background-color: #b5a789;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    margin: 0;
}

main {
   
    padding: 5px 0 5px 0;
    margin: 0 auto 0 auto;
    background-color: #675c47;
}

header.top {
    background-color: #524a3d;
    margin: 10px 10px 0px 10px; 
    height: 108px;
}

/*>>>>>>>>>> - BARRA DE NAVEGAÇÃO - <<<<<<<<<<*/ 
nav > ul {
    background-color: #efe5d0;
    margin: 10px 10px 0 10px;
}

nav > ul {
    margin: 0px;
    list-style: none;
    padding: 5px 0px 5px 0px;
}

nav > ul > li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;
}

ul > li.selected {
    background-color: #c8b99c;
}

/*imagem torofeu .. cupom */ 
#trofeu {
    display: none;
    position: absolute;
    top: 30px;
    left: 365px;
}

#cupom {
    display: none;
    position: fixed;
    top: 350px;
    left: -90px;
}

#cupom a, img {
    border: none;
}

#headerLogo {
    float: left;
    position: absolute; 
    left: 20px;
}

#headerlogan {
    float: right;
    position: absolute;
    right: 20px;
}

div#tableContainer{
    display: table;
    border-spacing: 10px;
}

div#tableRow{
    display: table-row;
}

section#main {
    display: table-cell;
    background-color: #efe5d0;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
}

section#blog {
    display: table-cell;
    background-color: #efe5d0;
    font-size: 105%;
    padding: 15px;
    width: 500px;
    vertical-align: top;
}

aside {
    display: table-cell;
    background-color: #efe5d0;
    font-size: 105%;
    padding: 15px;

    vertical-align: top;
}

section#drinks {
    display: table-cell;
    background-color: #efe5d0;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

footer {
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 15px;
    margin: 0px 10px 10px 10px ;
    font-size: 90%;
    
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

span.slogan { color: #954b4b;}

a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #b76666;
}

a:visited {
    color: #675c47;
    text-decoration: none;
    border-bottom: thin dotted #675c47;
}