@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

/* cabeçalho da pagina - porsche */ 
#cabecalho {
    background-color: rgba(44, 43, 46, 0.987);
    margin: -8px -8px 0 -8px;
    padding: 30px;
}
#cabecalho > h1{   
    font-family: 'Faster One', cursive;
    font-weight: normal;
    text-align: center;
    color: white; 
    font-size: 2.6em;
    margin: 0;
}
section {
    margin: auto 100px;
}
article > p {
    font-size: 18px;
}
.imagens-porsche img {
    max-width: 100%;
    display: block;   
    margin: 10px auto 10px auto;
}
/*titulos da pagina */ 
h2 {
    color: rgb(18, 54, 130);
}
/* FLEX-BOX DA PAGINA COM IMAGENS */ 
section#destaque {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
div.carros {
    flex: 1 1 300px;
    margin: 10px;
}
div.carros > img {
    max-width: 100%;
    display: block;
}
/*LINKS DA PAGINA */ 
a {
    color: rgb(39, 83, 179);
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: blueviolet;
}
a:hover {
    text-decoration: underline;
}
/* rodapé da pagina */ 
footer{
    background-color: #071b4d;
    padding: 10px;
    margin: 30px -8px -8px -8px;
}
footer > p {
    color: white;
    font-size: 80%;
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 750px) {
    section {
        margin: 10px;
    }
    article > p {
        font-size: 14px;
    }
}